@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Plus Jakarta Sans", sans-serif;
}

.font-fancy-title {
  font-family: "Dancing Script", cursive;
}

footer {
  color: #fdcc88;
  background-repeat: no-repeat;
  background-position: bottom center;
  background-image: url('/footer-image.svg')
}